* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Montserrat", sans-serif;
}
body {
  /* background: #020024;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(20, 9, 121, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  ); */
  /* background-image: linear-gradient(to right, #33001b 30%, #03bec2); */

  background: linear-gradient(
    -45deg,
    rgb(0 0 0) 38%,
    rgba(3, 190, 194, 1) 80%,
    rgb(0 90 94) 100%
  );
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
  height: 100%;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#inputText {
  background-color: #00000060;
  width: 55vw;
  height: 40vh;
  margin: 0 auto;
  display: block;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ffffff;
}
textarea::placeholder {
  color: white;
  font-size: 20px;
}
#output {
  background-color: #00000060;
  padding: 16px;
  border-radius: 8px;
  white-space: pre-wrap;
  font-family: Consolas, monospace;
  border: 1px solid #ffffff;
  color: #333;
  display: none;
}
.btn-wrapper {
  width: 100vw;
  gap: 60px 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  width: max-content;
}
button {
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  display: flex;
  gap: 10px;
  align-items: center;
  background: linear-gradient(-45deg, rgb(0, 90, 93) 0%, rgb(0, 0, 0) 50%);
  color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  border: 1px solid #ffffff;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background: linear-gradient(
    -45deg,
    rgb(255, 255, 255) 20%,
    rgb(255, 255, 255) 50%
  );
  color: #33001b;
  border: 1px solid white;
}
.tytul {
  text-align: center;
  font-size: 30px;
  margin: 30px 0;
}
.tytul-arkusza {
  text-align: center;
  font-size: 34px !important;
  margin-bottom: 12px;
}
.tytul-wyniki {
  text-align: center;
  font-size: 30px;
  margin: 30px 0;
  display: none;
}

.wynik-linia {
  margin-bottom: 1em;
  font-size: 20px;
  border-bottom: 1px solid #ffffff;
}
.wynik-linia strong {
  margin-bottom: 10px;
}
.wynik-linia p {
  margin-bottom: 10px;
}
.wynik-nazwa {
}
.wynik-mnozenie {
  font-size: 26px;
  display: flex;
  align-items: flex-end;
}
.poprawne {
}

.bledne {
  color: red;
  font-style: italic;
}

.podsumowanie {
  font-weight: bold;
  font-size: 2em;
  color: #222;
  margin-top: 1em;
  border-top: 1px solid #999;
  padding-top: 10px;
  display: flex;
  gap: 20px;
}
.wyniki-zbiorcze {
  font-size: 18px;
  color: white;
}
.wyniki-zbiorcze td {
  padding: 2px 30px 2px 0;
}
.wyniki-zbiorcze th {
  padding: 10px 30px 10px 0;
}
.popup-error {
  display: block;
  position: fixed;
  top: 200px;
  left: 50%;
  width: 60%;
  transform: translateX(-50%);
  background-color: #ff4d4f;
  color: #fff;
  text-align: center;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 32px;
  font-weight: bold;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }
  body * {
    visibility: hidden;
    color: black;
    margin: 0;
    padding: 0;
  }
  #output {
    color: #333;
  }
  #printTable,
  #printTable * {
    visibility: visible;
    font-size: 14px;
  }
  #printTable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
  }

  #printTable table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
  }
  #printTable th,
  #printTable td {
    border: 1px solid #000;
    padding: 4px 6px;
    text-align: left;
  }
  #printTable th {
    background-color: #ffffff;
  }
  input[type="checkbox"] {
    transform: scale(1.2);
  }
  .lp {
    text-align: center;
  }
}
