* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  /* background: #020024;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(20, 9, 121, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  ); */
  background-image: linear-gradient(to right, #33001b 30%, #03bec2);
}
#inputText {
  background-color: #000000;
  width: 90vw;
  height: 20vh;
  margin: 0 auto;
  display: block;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ffffff;
}
textarea::placeholder {
  color: white;
  font-size: 20px;
}
#output {
  background-color: #000000;
  padding: 16px;
  border-radius: 8px;
  white-space: pre-wrap;
  font-family: Consolas, monospace;
  border: 1px solid #ffffff;
  color: #333;
}
.btn-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 60px;
}
button {
  background-color: #33001b;
  color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  border: 1px solid #ffffff;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: white;
  color: #33001b;
  border: 1px solid white;
}
.tytul {
  text-align: center;
  font-size: 30px;
  margin: 30px 0;
}
.tytul-wyniki {
  text-align: center;
  font-size: 30px;
  margin: 30px 0;
}

.wynik-linia {
  margin-bottom: 1em;
  font-size: 20px;
  border-bottom: 1px solid #ffffff;
}
.wynik-linia strong {
  margin-bottom: 10px;
}
.wynik-linia p {
  margin-bottom: 10px;
}
.wynik-nazwa {
}
.wynik-mnozenie {
  font-size: 26px;
}
.poprawne {
}

.bledne {
  color: red;
  font-style: italic;
}

.podsumowanie {
  font-weight: bold;
  font-size: 2em;
  color: #222;
  margin-top: 1em;
  border-top: 1px solid #999;
  padding-top: 10px;
}
@media print {
  body {
    margin: 0;
    padding: 0;
  }
  body * {
    visibility: hidden;
    color: black;
  }
  #output {
    color: #333;
  }
  #printTable,
  #printTable * {
    visibility: visible;
  }
  #printTable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
  }

  #printTable table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
  }
  #printTable th,
  #printTable td {
    border: 1px solid #000;
    padding: 6px 10px;
    text-align: left;
  }
  #printTable th {
    background-color: #eee;
  }
  input[type="checkbox"] {
    transform: scale(1.2);
  }
}
